*{
    padding: 0;
    margin: 0;
}

h1{
    font-family: Montserrat,sans-serif;
    font-size: 3em;
    padding: 20px;
    text-align: center;
    color: white;

    @media screen and (max-width: 350px){
        font-size: 2em;
    }
}

body{
    min-height: 100vh;
    background: linear-gradient(#31102e,#790133,#e15a44,#f9f9f9);
    background-attachment: fixed;
    
}
#container{
}

#albums-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    img{
        border-radius: 2px;
        margin: 20px;

        @media screen and (max-width: 500px){
            height: 150px;      
        }

        @media screen and (max-width: 400px){
            height: 130px;      
        }

        @media screen and (max-width: 350px){
            height: 110px;      
        }

    }

}